# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/storage/*
!/storage/.keep

/node_modules
/yarn-error.log

.byebug_history

# Ignore master key for decrypting credentials
/config/master.key

# Ignore environment variables
.env
.env.*

# Ignore test coverage
/coverage/
db/*.sqlite3
pdf_processor/
pdf_processor_go/test/
test_files/
test_files/
pdf_processor_go/lambda.zip
pdf_processor_go/new_lambda.zip
pdf_processor_go/bootstrap
# Ignore system files
.DS_Store
*.swp
*~
